
body{
	width: 960px;
	align-content: center;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}

nav{
	background-color: white;
	overflow: auto;
	width: 1223px;


}

.logo {
	float: left;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	margin:0px 0px 0px 130px;
	padding: 35px 10px 10px 10px;
	height: 96px;
	
}

ul {
    list-style-type: none;
    float: right;
    margin: 0px;
    padding-right: 100px;
    padding-top: 20px;
    overflow: hidden;
    background-color: white;
}


li {display: inline-block;
    margin-top: 25px;
    font-family: Arial;
    font-size: 20px;
}

li a {
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightgray;
}


div{overflow: hidden;
	padding: 0px;
	margin: 0px 0px 0px 10px;
}

.content{
	background:url("../images/intersection.png") repeat 0 0; 
	background-color: white;
	border-color: darkgray;
	width: 1213px;
}

#me {
	width: 185px;
	height: 200px;
	float: left;
	margin: 20px;
	
}

#about {
	float: left;
	width: 650px;
	background-color: white;
	margin: 40px 40px 40px 120px;
	border-color: black;
	border-width: 10px;
	padding: 10px;
	overflow: auto;
		}

#connect{
	float: right;
	width:205px;
	background-color: #ffffff;
	text-align: center;
	margin: 40px 75px 0px 0px;
	color: #4aaaa5;
	padding: 5px;

}

#git{
	width: 55px;
	height:55px;
	margin:20px 0px 38px 27px;
}

#linked{
	width: 55px;
	height:55px;
	margin: 20px 12px 38px 12px;
}

#stack{
	width: 55px;
	height: 55px;
	margin: 20px 27px 38px 0px ;
}

#pfooter {
	font-size: 10px;
	text-align: center;
	margin: 0px 0px 0px 0px;
	color: white;
	padding: 25px;
}

#line{
	height: 10px;
	width: 1213px;
	background-color: #4aaaa5;
	margin: 0px 0px 0px 0px;
	margin-left: 10px;
}

footer{
	width: 1213px;
	background-color: #666666;
	height: 85px;
	line-height:85px;
	color: white;
	margin-left: 10px;
}

p{
	color: #777777;
	font-size: 16px;
	font-family: Arial;
	line-height: 30px;
}

h2{
	color: #4aaaa5;
	font-family: Georgia, Times, "Times New Roman", Serif;
}

h4{
	font-family: Georgia, Times, "Times New Roman", Serif;
	color: #777777;
	margin: 22px 30px 12px 30px ;
	}

input{
	font-family: Arial;
	font-size: 14px;
	font-color: #e9e9e9;
	width: 589px;
	padding: 5px;
	margin: 5px 22px 10px 0px;
	border-color: #dddddd;
	border-width: 0.5px;
	border-style: solid;
}

form{
	font-family: Arial;
	font-size: 20px;
	color: #777777;
	margin-left: 22px;
}

#messageid{
	height: 200px;
}

#submit{
	width: 117px;
	height: 44px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 20px;

}

.imageholder{
	text-align: center;
	display: inline-block;
	height: 250px;
	width: 275px;
}

#imgdiv1{
	background-image: url("../images/Jumpski.jpg");
	background-repeat: no-repeat;
	display: inline-block;
	height: 177px;
	width: 264px;
	
}

#imgdiv2{
	background-image: url("../images/datawarehouse.jpg");
	background-repeat: no-repeat;
	display: inline-block;
	height: 177px;
	width: 264px;
	
}

#imgdiv3{
	background-image: url("../images/sharks.jpg");
	background-repeat: no-repeat;
	display: inline-block;
	height: 177px;
	
}

#imgdiv4{
	background-image: url("../images/meditation.jpg");
	background-repeat: no-repeat;
	display: inline-block;
	height: 177px;
	
}

#imgdiv5{
	background-image: url("../images/erd.jpg");
	background-repeat: no-repeat;
	display: inline-block;
	height: 177px;
	width: 264px;
}

#imgdiv6{
	background-image: url("../images/sailing.jpg");
	background-repeat: no-repeat;
	display: inline-block;
	height: 177px;
	width: 264px;
}

.img-caption{
	bottom: 50px;
	background-color: #4aaaa5;
	width:264px;
	height: 30px;
	text-align: center;
	padding-top: 7px;
	margin: 130px 0px 0px 0px;
	color:white;
	}


@media screen and (max-width: 640px) {
	body{
		width:100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	nav{
		width:100%;
		overflow: hidden;
		margin: 0px 0px 20px 0px;
		padding: 0px 0px 0px 0px;

	}

	.logo{
		width:100%;
		margin: 0px 0px 0px 0px;
		padding: 10px 0px 0px 0px;
	}


	ul{
		width:100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		text-align: center;
	}

	#about{
		width:100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		}

	.content {
		width:97%;
		background:url("") repeat 0 0;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 5px;
			}

	#connect{
		width:100%;
		margin: 10px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		}


	footer{
		width: 100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		}

	#line{
		width: 100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		}

	h4{
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		}

	div{
		margin: 0px 0px 0px 0px;
}

@media screen and (max-width: 768px) {

	body{
		width:100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	nav{
		width:100%;
		overflow: hidden;
		margin: 0px 0px 20px 0px;
		padding: 0px 0px 0px 0px;

	}

	.logo{
		width:100%;
		margin: 0px 0px 0px 0px;
		padding: 10px 0px 0px 0px;
	}


	ul{
		width:100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		text-align: center;
	}

	#about{
		width:100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		}

	.content {
		width:97%;
		background:url("") repeat 0 0;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 5px;
			}

	#connect{
		width:100%;
		margin: 10px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		}


	footer{
		width: 100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		}

	#line{
		width: 100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		}

	h4{
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		}

	div{
		margin: 0px 0px 0px 0px;
}


/*@media screen and (max-width: 980px) {

	#about{
		width:348px;
	}

	.content {
		width : 832px;
	}

	#connect{
		width:225px;
	}

	
}
*/